{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="contacts padding-150">
        <div class="contacts-inner mt-50">
            <div class="breadcrumb-with-title">
                <h1 class="section-big-text">{% trans "Biz bilan bog'lanish" %}</h1>
                <p> <a href="">{% trans "Bosh sahifa" %} </a> / {% trans "Bog'lanish" %}</p>
            </div>
            <div class="contacts-blocks">
                <div class="info">
                    <p>
                        <i class="fa fa-phone"></i>
                        <span>{% trans "Telefon raqami:" %}</span>
                    <p><a href="tel:">+99899 999-99-99</a></p>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <span>{% trans "Elektron pochta:" %}</span>
                    <p>
                        <a href="mailto:itunisoft@gmail.com">itunisoft@gmail.com</a>
                    </p>
                    </p>
                    <p>
                        <i class="fa fa-map"></i>
                        <span>{% trans "Manzil:" %}</span>
                    <p>
                        {% trans "100015, 14 Afrosiyob ko'chasi" %}, <br> {% trans "Toshkent shahri, O'zbekiston" %}
                    </p>
                    </p>
                </div>
                <div class="map">
                    <div style="width: 100%">
                        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=14%20Afrosiab%20Street,%20Tashkent%20100015+(IT%20Unisoft)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                                href="https://www.gps.ie/wearable-gps/">gps smartwatches</a>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}