{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="services-section" class="services padding-150">
        <div class="services-inner">
            <h1 class="section-big-text about_animation invisible">Xizmatlar ro'yxati</h1>

            <div class="services-items about_animation invisible">
                <div class="left">
{#                    <div class="left-big">#}
{#                        <a href="javascript:void(0)" class="contact-btn">#}
{#                            <img src="data/img/website.jpg" alt="">#}
{#                            <span>Web saytlar</span>#}
{#                        </a>#}
{#                    </div>#}
                    <div class="left-row">
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/mobile.jpg" alt="">
                            <span>Mobil ilovalar </span>
                        </a>
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/social.jpg" alt="">
                            <span>SMM & Marketing </span>
                        </a>
                    </div>
                     <div class="left-row">
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/mobile.jpg" alt="">
                            <span>Mobil ilovalar </span>
                        </a>
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/social.jpg" alt="">
                            <span>SMM & Marketing </span>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="left-row">
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/telegram.jpg" alt="">
                            <span>Telegram – bot</span>
                        </a>
                        <a href="javascript:void(0)" class="contact-btn">
                            <img src="data/img/testing.jpg" alt="">
                            <span>Dasturiy ta’minot sinovi </span>
                        </a>
                    </div>
{#                    <div class="left-big">#}
{#                        <a href="javascript:void(0)" class="contact-btn">#}
{#                            <img src="data/img/business.jpg" alt="">#}
{#                            <span>Biznesni avtomatlashtirish </span>#}
{#                        </a>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}