{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="portfolios padding-150">
        <div class="portfolios-inner mt-50">
            <div class="breadcrumb-with-title">
                <h1 class="section-big-text">{{ object.title}}</h1>
                <p> <a href="{% url 'core:home' %}">{% trans "Bosh sahifa" %} </a> / <a href="{% url 'core:portfolio' %}"> {% trans "Loyihalarimiz" %} </a> / {{ object.title}}</p>
            </div>
            <div class="portfolios-banner">
                <img src="{{ object.imageURL}}" alt="">
            </div>
            <div class="portfolios-text">
                <p>
                    {{ object.body }}
                </p>
                <a href="" class="button-style">{% trans 'Batafsil' %}</a>
            </div>
        </div>
    </section>
{% endblock %}
