{% load static %}
{% load i18n %}
<nav class="nav padding-150">
    <a href="{% url 'core:home' %}" class="logo"><img src="{% static 'data/img/logo-dark.svg' %}" alt=""></a>
    <div class="nav-collapse" id="nav-collapse">
        <button class="close_menu">
            <i class="fa fa-times"></i>
        </button>
        <ul class="nav-list nav-list-center">
            <li><a href="{% url 'core:about us' %}">Biz haqimizda</a></li>
            <li><a href="{% url 'core:home' %}#services-section">Xizmatlar</a></li>
            <li><a href="{% url 'core:portfolio' %}">Loyihalarimiz</a></li>
            <li><a href="{% url 'core:home' %}#partners">Mijozlar</a></li>
            <li><a href="{% url 'core:contacts'%}">Bog'lanish</a></li>
            <li><a href="{% url 'core:vacancies' %}">Vakansiya</a></li>
        </ul>

        <ul class="nav-list nav-list-right">

            <li>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="lang-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}

                    </select>
                </form>
            </li>
            <li class="nav-tel-number"><a href="tel:+998999999999">(99) 999-99-99</a></li>
        </ul>
    </div>
    <button class="open_menu">
        <i class="fa fa-bars"></i>
    </button>
</nav>
